<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>06342AC01B8AAD7F001C9F5D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>06405DA51B8AA74700A689FF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>22E7020E1BF5B8EC00C19675</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
